{% extends 'base.html.twig' %}

{% block title %}Annonce | Liste{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1 class="my-4">Liste de mes annonces</h1>
        </div>
        <div class="col-6">
            <a href="{{ path('person_new') }}" class="btn btn-light my-4">Créer une nouvelle annonce <i
                        class="fas fa-plus fa-lg"></i></a>

        </div>
    </div>
    <div class="row">
        {% for person in people %}
            {% if person.user.id == user.id %}
                <div class="card m-4">
                    <img class="card-img-top" src="{{ vich_uploader_asset(person, 'imageFile') }}" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-text">{{ person.firstName }}  {{ person.lastName }}</h3>
                        <div class="row">
                            <a href="{{ path('person_show', {'id': person.id}) }}"
                               class="btn btn-outline-primary mr-3 ml-1">Voir
                                l'annonce</a>
                            <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-outline-primary ">Éditer
                                l'annonce</a>
                        </div>

                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>

{% endblock %}