{% extends 'base.html.twig' %}

{% block title %}Annonce | Liste{% endblock %}

{% block body %}

    <h1>Liste des annonces</h1>

    {% for person in people %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ vich_uploader_asset(person, 'imageFile') }}" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-text">{{ person.firstName }}{{ person.lastName }}</h3>
            <div class="row">
                <a href="{{ path('person_show', {'id': person.id}) }}" class="btn btn-primary">Voir l'annonce</a>
                <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-primary">Éditer l'annonce</a>
            </div>

        </div>
    </div>
    {% endfor %}
    <a href="{{ path('person_new') }}">Créer une nouvelle annonce</a>
{% endblock %}