{% extends 'base.html.twig' %}

{% block title %}Annonce | {{ person.id }}{% endblock %}

{% block body %}
    <h1>Annonce n°{{ person.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ person.birthDate ? person.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ vich_uploader_asset(person, 'imageFile') }}" class="img-fluid"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ person.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('person_index') }}">Retour à la liste des annonces</a>

    <a href="{{ path('person_edit', {'id': person.id}) }}">Éditer l'annonce</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}